ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(120deg, rgba(84,160,255,1) 0%, rgba(68,129,227,1) 100%);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }

  hr {
    line-height: 50;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Trebuchet MS;
  }
  
  li a:hover {
    background-color: #2e86de;
  }
    
    body {
         
          background-color: #c8d6e5;
          font-family: Trebuchet MS;
    }
    
    h1 {
    font-family: Trebuchet MS;
    text-align: center;
    color: #000000;
  
}
h2 {
    font-family: Trebuchet MS;
    text-align: center;
    color: #000000;
}
h3 {
    font-family: Trebuchet MS;
    text-align: center;
    color: #000000;
}
